.App {
  text-align: center;
}

img {
  height: 20vmin;
  pointer-events: none;
  border-radius: 5px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.email-link {
  color: #1DB954;
  text-decoration: underline;
}

/* Custom button */
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-top: 30px;
  border-radius: 8px;
  padding: 8px 15px;
  background-color: #1DB954;
  color: #fff;
  font-size: 16px;
}
